@import url("/home/mauro/.cache/wal/colors-waybar.css");

* {
	font-family: JetBrainsMono Nerd Font;
  font-weight: bolder;
	font-size: 13px;
  min-height: 10px;
}


window#waybar {
  background: alpha(@background, 0.8);
  border: 2px solid @color5;
  border-radius: 4px;
}

#workspaces {
  margin: 0px 0px;
  background: transparent;
  border-radius: 10px;
}

#workspaces button {
  padding: 0px 2px;
  margin: 0px 4px;
  color: alpha(@foreground, 0.5);
}

#workspaces button.active {
  transition: color 0.5s;
  color: @foreground;
}

#workspaces button.urgent,
#workspaces button:hover {
  color: @color9;
  background-color: transparent;
}

#pulseaudio.microphone.source-muted {
  color: #bf616a;
}

#custom-sep{
  color: #484848
}

.modules-left,
.modules-right,
.modules-center {
  /*color: #f4f1f8;*/
  color: @foreground;
  /*background: alpha(@background, 0.8);
  margin: 0px 0px 0px;
  border: 2px solid @color5;
  border-radius: 4px;*/
  padding-bottom: 2px;
}

