@define-color bg  rgba(29, 32, 33, 0.6);
@define-color fg  #373b41;
@define-color gr  #dde1e6;
@define-color rd  #8EC07C;

@import "theme.css";

* {
	font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
	font-size: 13px;
  min-height: 10px;
}


window#waybar {
  background-image: linear-gradient(45deg, #191919, #2B3F4A, #191919);
  border-radius: 6px;
  border: 1px solid #2b3f4a;
}

#workspaces button {
    box-shadow: none;
	  text-shadow: none;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
    color: @main-fg;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    margin-left: 2px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 2px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 2px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 2px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-sep{
  color: #44475A
}

.modules-left,
.modules-right,
.modules-center {
  color: #f4f1f8;
  background: transparent;
  margin: 2px 2px 2px;
  /*border: 2px solid #373B41;
  border-radius: 4px; */
}

