@import url("/home/mauro/.cache/wal/colors-waybar.css");

* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 13px;
  color: @foreground;
}

window {
    background: @background;
    border-radius: 4px;
    border: 3px solid @color5;
}

#entry, #text, #input {
    transition: background-color 500ms ease, color 500ms ease;
}

#input {
    background-color: #212328;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#input, #input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#entry {
    padding: 10px;
}

#entry:hover {
    background-color: #3c3836;
}

#entry:selected {
    background-color: alpha(@color5, 0.6);
    outline: none;
}

#entry:selected #text {
    color: @foreground;
}

#text {
  padding-left: 8px;
  margin: 6px;
}
