#outer-box {
	border: 2px solid #282828;
}

#window {
	background-color: #141414;
}

#text {
	font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 13px;
}

#text:selected {
	color: #16161c;
}

#input {
	margin: 4px;
	border: 2px solid #282828;
	background-color: #OF1011;
}

#scroll {
	margin: 2px 2px 3px 2px;
}

#entry {
	padding: 2px 4px;
	margin: 1px 2px;
}

#entry:selected {
	background-color: #d5d8da;
}

#text {
  padding-left: 8px;
}
